/*TAILWIND MODULES*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(324deg, #ee6352, purple 50%, #ee6352);
}

html, body {
  font-family: 'League Spartan', sans-serif;
}

/*STYLING BACKGROUND
Source: https://wweb.dev/resources/animated-css-background-generator/
*/

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

/*STYLING NAME*/
.gradient {
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 15s infinite;
}

.name {
  color: transparent;
  font-size: 120px;
  line-height: 100px;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  /* background-image: url("./assets/back.png");
  -webkit-background-clip: text;
  animation: back 20s linear infinite; */
}
.groweffect {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

@keyframes back {
  100% {
    background-position: 1200px 0;
  }
}


/*STYLING REACT LOGO*/
.neo-shape {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #eaeaea;
  text-shadow:  6px 6px 12px rgba(0,0,0,0.08),
             -6px -6px 12px rgba(255,255,255,1);
}

.neo {
  font-size: 10em;
  color: #eaeaea;
  text-shadow:  10px 10px 12px rgba(0,0,0,0.08),
             -6px -6px 12px rgba(255,255,255,1);
}

.neo-text {
  font-size: 10em;
  color: #ef8354;
  text-shadow:  20px 20px 60px #cb6f47,
             -20px -20px 60px #ff9761;
}

/*  STYLING BUTTONS
Style got it from uiverse.io
*/

.btn {
  transform: rotate(-15deg) skew(15deg);
  transform-style: preserve-3d;
  position: relative;
  list-style: none;
  width: 200px;
  height: 50px;
  border: none;
  margin: 0px 20px;
  background: transparent;
  font-family: inherit;
 }
 
 .btn:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #EF8354;
  transform: skewX(-41deg);
 }
 
 .btn:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #EF8354;
  transform: skewY(-49deg);
 }
 
 .btn span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #EF8354;
  color: #fff;
  font-size: 25px;
  transition: 1.1s ease-out;
 }
 
 .btn:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
 }
 
 .btn:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
 }
 
 .btn:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .8;
 }
 
 .btn:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .6;
 }
 
 .btn:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4;
 }
 
 .btn:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: .2;
 }
 
 .btn:active span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
 }
 
 .btn:active span:nth-child(4) {
  transform: translate(15px, -15px);
 }
 
 .btn:active span:nth-child(3) {
  transform: translate(10px, -10px);
 }
 
 .btn:active span:nth-child(2) {
  transform: translate(5px, -5px);
 }
 
 .btn:active span:nth-child(1) {
  transform: translate(0px, 0px);
 }
 
 .btn:nth-child(1):hover span {
  background: whitesmoke;
  color: #EF8354;
 }

 .btn:nth-child(2):hover span {
  background: whitesmoke;
  color: #EF8354;
 }

 .profession {
  perspective: 1000px;
  padding: 1em 1em;
  outline: none;
  letter-spacing: 4px;
  color: #fff;
  cursor: pointer;
  transform: rotateX(70deg) rotateZ(30deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
 }

 .profession:hover {
  transform: rotateX(30deg) rotateZ(0);
 }
 
 /*STYLING TEXT*/

 .glowing:hover {
   color: #EF8354;
 }
 .glowing2:hover {
   color: whitesmoke;
 }
 .glowing:hover, .glowing2:hover {
  /* text-shadow:0px 0px 30px #EF8354; */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
 