/*TAILWIND MODULES*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(324deg, #ee6352, purple 50%, #ee6352);
}

/*STYLING NAME*/
.gradient {
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 15s infinite;
}

.name {
  color: transparent;
  font-size: 120px;
  line-height: 100px;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  /* background-image: url("./assets/back.png");
  -webkit-background-clip: text;
  animation: back 20s linear infinite; */
}
.groweffect {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

@keyframes back {
  100% {
    background-position: 1200px 0;
  }
}


/*STYLING REACT LOGO*/
.neo-shape {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #eaeaea;
  text-shadow:  6px 6px 12px rgba(0,0,0,0.08),
             -6px -6px 12px rgba(255,255,255,1);
}

.neo {
  font-size: 10em;
  color: #eaeaea;
  text-shadow:  10px 10px 12px rgba(0,0,0,0.08),
             -6px -6px 12px rgba(255,255,255,1);
}

.neo-text {
  font-size: 10em;
  color: #ef8354;
  text-shadow:  20px 20px 60px #cb6f47,
             -20px -20px 60px #ff9761;
}