@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background span {
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 4;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    /* color: #ffffff; */
    top: 43%;
    left: 16%;
    animation-duration: 315s;
    animation-delay: -127s;
    transform-origin: -9vw 22vh;
    /* box-shadow: -2vmin 0 0.5166695099017975vmin currentColor; */
}
.background span:nth-child(1) {
    /* color: #ffffff; */
    top: 31%;
    left: 50%;
    animation-duration: 171s;
    animation-delay: -171s;
    transform-origin: 12vw 19vh;
    /* box-shadow: -2vmin 0 0.372177871147914vmin currentColor; */
}
.background span:nth-child(2) {
    /* color: #ffffff; */
    top: 52%;
    left: 40%;
    animation-duration: 177s;
    animation-delay: -442s;
    transform-origin: 1vw 17vh;
    /* box-shadow: -2vmin 0 0.7105584315610811vmin currentColor; */
}
.background span:nth-child(3) {
    /* color: #ffffff; */
    top: 86%;
    left: 5%;
    animation-duration: 75s;
    animation-delay: -239s;
    transform-origin: -14vw -18vh;
    /* box-shadow: -2vmin 0 0.31310763666230157vmin currentColor; */
}
.background span:nth-child(4) {
    /* color: #ffffff; */
    top: 100%;
    left: 22%;
    animation-duration: 189s;
    animation-delay: -174s;
    transform-origin: -4vw -3vh;
    /* box-shadow: 2vmin 0 1.136221277083622vmin currentColor; */
}
.background span:nth-child(5) {
    /* color: #ffffff; */
    top: 85%;
    left: 87%;
    animation-duration: 334s;
    animation-delay: -355s;
    transform-origin: 22vw -15vh;
    /* box-shadow: -2vmin 0 0.7629147010264354vmin currentColor; */
}
.background span:nth-child(6) {
    /* color: #ffffff; */
    top: 69%;
    left: 16%;
    animation-duration: 45s;
    animation-delay: -37s;
    transform-origin: 19vw -10vh;
    /* box-shadow: -2vmin 0 0.6507017363207073vmin currentColor; */
}
.background span:nth-child(7) {
    /* color: #ffffff; */
    top: 99%;
    left: 9%;
    animation-duration: 99s;
    animation-delay: -5s;
    transform-origin: -11vw 12vh;
    /* box-shadow: -2vmin 0 0.43231139592804957vmin currentColor; */
}
.background span:nth-child(8) {
    /* color: #ffffff; */
    top: 34%;
    left: 86%;
    animation-duration: 417s;
    animation-delay: -422s;
    transform-origin: -9vw -13vh;
    /* box-shadow: -2vmin 0 1.0168500795074484vmin currentColor; */
}
.background span:nth-child(9) {
    /* color: #ffffff; */
    top: 16%;
    left: 1%;
    animation-duration: 317s;
    animation-delay: -133s;
    transform-origin: -19vw 15vh;
    /* box-shadow: 2vmin 0 1.1159193516150638vmin currentColor; */
}
.background span:nth-child(10) {
    /* color: #ffffff; */
    top: 65%;
    left: 44%;
    animation-duration: 402s;
    animation-delay: -455s;
    transform-origin: 5vw -3vh;
    /* box-shadow: 2vmin 0 0.7081407967941689vmin currentColor; */
}
.background span:nth-child(11) {
    /* color: #ffffff; */
    top: 79%;
    left: 57%;
    animation-duration: 174s;
    animation-delay: -14s;
    transform-origin: 1vw -7vh;
    /* box-shadow: 2vmin 0 0.5772234848600672vmin currentColor; */
}
.background span:nth-child(12) {
    /* color: #ffffff; */
    top: 19%;
    left: 10%;
    animation-duration: 325s;
    animation-delay: -98s;
    transform-origin: -5vw 22vh;
    /* box-shadow: -2vmin 0 0.5779045669837835vmin currentColor; */
}
.background span:nth-child(13) {
    /* color: #ffffff; */
    top: 57%;
    left: 63%;
    animation-duration: 464s;
    animation-delay: -115s;
    transform-origin: -9vw 0vh;
    /* box-shadow: -2vmin 0 1.0746183392468307vmin currentColor; */
}
.background span:nth-child(14) {
    /* color: #ffffff; */
    top: 48%;
    left: 81%;
    animation-duration: 125s;
    animation-delay: -65s;
    transform-origin: -6vw -4vh;
    /* box-shadow: -2vmin 0 0.7700134947486355vmin currentColor; */
}
.background span:nth-child(15) {
    /* color: #ffffff; */
    top: 29%;
    left: 73%;
    animation-duration: 169s;
    animation-delay: -348s;
    transform-origin: 23vw 11vh;
    /* box-shadow: 2vmin 0 0.8169204984947585vmin currentColor; */
}
.background span:nth-child(16) {
    /* color: #ffffff; */
    top: 64%;
    left: 24%;
    animation-duration: 304s;
    animation-delay: -157s;
    transform-origin: -8vw 0vh;
    /* box-shadow: 2vmin 0 0.8221232578303237vmin currentColor; */
}
.background span:nth-child(17) {
    /* color: #ffffff; */
    top: 66%;
    left: 13%;
    animation-duration: 26s;
    animation-delay: -274s;
    transform-origin: 0vw -22vh;
    /* box-shadow: -2vmin 0 0.4227368074300415vmin currentColor; */
}
.background span:nth-child(18) {
    /* color: #ffffff; */
    top: 21%;
    left: 81%;
    animation-duration: 27s;
    animation-delay: -451s;
    transform-origin: -1vw -19vh;
    /* box-shadow: -2vmin 0 0.25833647131393955vmin currentColor; */
}
.background span:nth-child(19) {
    /* color: #ffffff; */
    top: 35%;
    left: 63%;
    animation-duration: 151s;
    animation-delay: -276s;
    transform-origin: -7vw 3vh;
    /* box-shadow: 2vmin 0 0.6904502697238775vmin currentColor; */
}
.background span:nth-child(20) {
    /* color: #ffffff; */
    top: 56%;
    left: 15%;
    animation-duration: 277s;
    animation-delay: -85s;
    transform-origin: 21vw 18vh;
    /* box-shadow: -2vmin 0 0.8974407415397365vmin currentColor; */
}
.background span:nth-child(21) {
    /* color: #ffffff; */
    top: 34%;
    left: 57%;
    animation-duration: 47s;
    animation-delay: -419s;
    transform-origin: -23vw 14vh;
    /* box-shadow: -2vmin 0 0.3521653497845998vmin currentColor; */
}
.background span:nth-child(22) {
    /* color: #ffffff; */
    top: 79%;
    left: 41%;
    animation-duration: 387s;
    animation-delay: -262s;
    transform-origin: -20vw 17vh;
    /* box-shadow: 2vmin 0 0.3093303163840633vmin currentColor; */
}
.background span:nth-child(23) {
    /* color: #ffffff; */
    top: 95%;
    left: 14%;
    animation-duration: 259s;
    animation-delay: -7s;
    transform-origin: -7vw 19vh;
    /* box-shadow: -2vmin 0 1.097129269451107vmin currentColor; */
}
.background span:nth-child(24) {
    /* color: #ffffff; */
    top: 74%;
    left: 40%;
    animation-duration: 326s;
    animation-delay: -236s;
    transform-origin: -12vw 10vh;
    /* box-shadow: 2vmin 0 0.927130849523673vmin currentColor; */
}
.background span:nth-child(25) {
    /* color: #ffffff; */
    top: 86%;
    left: 6%;
    animation-duration: 300s;
    animation-delay: -327s;
    transform-origin: 9vw 7vh;
    /* box-shadow: 2vmin 0 0.5501462541075353vmin currentColor; */
}
.background span:nth-child(26) {
    /* color: #ffffff; */
    top: 27%;
    left: 6%;
    animation-duration: 321s;
    animation-delay: -241s;
    transform-origin: 14vw -13vh;
    /* box-shadow: -2vmin 0 0.5747350069327357vmin currentColor; */
}
.background span:nth-child(27) {
    /* color: #ffffff; */
    top: 20%;
    left: 33%;
    animation-duration: 248s;
    animation-delay: -365s;
    transform-origin: 17vw -13vh;
    /* box-shadow: 2vmin 0 0.40769204828029126vmin currentColor; */
}
.background span:nth-child(28) {
    /* color: #ffffff; */
    top: 2%;
    left: 39%;
    animation-duration: 430s;
    animation-delay: -68s;
    transform-origin: 6vw 15vh;
    /* box-shadow: 2vmin 0 0.9958871525543846vmin currentColor; */
}
.background span:nth-child(29) {
    /* color: #ffffff; */
    top: 28%;
    left: 21%;
    animation-duration: 47s;
    animation-delay: -69s;
    transform-origin: -24vw -23vh;
    /* box-shadow: 2vmin 0 1.1633818060425332vmin currentColor; */
}
.background span:nth-child(30) {
    /* color: #ffffff; */
    top: 85%;
    left: 26%;
    animation-duration: 268s;
    animation-delay: -121s;
    transform-origin: 8vw -19vh;
    /* box-shadow: 2vmin 0 0.9892141848694729vmin currentColor; */
}
.background span:nth-child(31) {
    /* color: #ffffff; */
    top: 6%;
    left: 90%;
    animation-duration: 133s;
    animation-delay: -330s;
    transform-origin: 18vw -17vh;
    /* box-shadow: -2vmin 0 1.2155910751429893vmin currentColor; */
}
.background span:nth-child(32) {
    /* color: #ffffff; */
    top: 100%;
    left: 18%;
    animation-duration: 175s;
    animation-delay: -50s;
    transform-origin: 9vw 21vh;
    /* box-shadow: 2vmin 0 0.388781360180122vmin currentColor; */
}
.background span:nth-child(33) {
    /* color: #ffffff; */
    top: 9%;
    left: 36%;
    animation-duration: 309s;
    animation-delay: -56s;
    transform-origin: -21vw -5vh;
    /* box-shadow: 2vmin 0 0.8073946236421448vmin currentColor; */
}
.background span:nth-child(34) {
    /* color: #ffffff; */
    top: 14%;
    left: 49%;
    animation-duration: 390s;
    animation-delay: -338s;
    transform-origin: 22vw 20vh;
    /* box-shadow: -2vmin 0 0.2649546941961418vmin currentColor; */
}
.background span:nth-child(35) {
    /* color: #ffffff; */
    top: 18%;
    left: 68%;
    animation-duration: 146s;
    animation-delay: -101s;
    transform-origin: -22vw -20vh;
    /* box-shadow: -2vmin 0 0.308171520953443vmin currentColor; */
}
.background span:nth-child(36) {
    /* color: #ffffff; */
    top: 47%;
    left: 20%;
    animation-duration: 400s;
    animation-delay: -139s;
    transform-origin: -23vw -22vh;
    /* box-shadow: 2vmin 0 0.9230544153303222vmin currentColor; */
}
.background span:nth-child(37) {
    /* color: #ffffff; */
    top: 87%;
    left: 73%;
    animation-duration: 456s;
    animation-delay: -204s;
    transform-origin: 10vw 23vh;
    /* box-shadow: 2vmin 0 1.2212605042359592vmin currentColor; */
}
.background span:nth-child(38) {
    /* color: #ffffff; */
    top: 32%;
    left: 74%;
    animation-duration: 163s;
    animation-delay: -258s;
    transform-origin: 13vw -4vh;
    /* box-shadow: 2vmin 0 0.39463204844857436vmin currentColor; */
}
.background span:nth-child(39) {
    /* color: #ffffff; */
    top: 60%;
    left: 52%;
    animation-duration: 173s;
    animation-delay: -318s;
    transform-origin: 8vw 21vh;
    /* box-shadow: -2vmin 0 0.370537801270558vmin currentColor; */
}
.background span:nth-child(40) {
    /* color: #ffffff; */
    top: 13%;
    left: 56%;
    animation-duration: 252s;
    animation-delay: -388s;
    transform-origin: -14vw -18vh;
    /* box-shadow: -2vmin 0 0.40273477954676506vmin currentColor; */
}
.background span:nth-child(41) {
    /* color: #ffffff; */
    top: 51%;
    left: 78%;
    animation-duration: 10s;
    animation-delay: -13s;
    transform-origin: -19vw -11vh;
    /* box-shadow: 2vmin 0 0.8475753982755481vmin currentColor; */
}
.background span:nth-child(42) {
    /* color: #ffffff; */
    top: 92%;
    left: 6%;
    animation-duration: 46s;
    animation-delay: -8s;
    transform-origin: -16vw 2vh;
    /* box-shadow: 2vmin 0 0.518999688280724vmin currentColor; */
}
.background span:nth-child(43) {
    /* color: #ffffff; */
    top: 5%;
    left: 11%;
    animation-duration: 402s;
    animation-delay: -382s;
    transform-origin: -14vw 11vh;
    /* box-shadow: -2vmin 0 0.6063209600607944vmin currentColor; */
}
.background span:nth-child(44) {
    /* color: #ffffff; */
    top: 100%;
    left: 58%;
    animation-duration: 28s;
    animation-delay: -56s;
    transform-origin: 12vw 6vh;
    /* box-shadow: -2vmin 0 0.294053573212828vmin currentColor; */
}
.background span:nth-child(45) {
    /* color: #ffffff; */
    top: 34%;
    left: 21%;
    animation-duration: 158s;
    animation-delay: -288s;
    transform-origin: -8vw 11vh;
    /* box-shadow: -2vmin 0 0.8561578385369135vmin currentColor; */
}
.background span:nth-child(46) {
    /* color: #ffffff; */
    top: 77%;
    left: 80%;
    animation-duration: 255s;
    animation-delay: -384s;
    transform-origin: 4vw -12vh;
    /* box-shadow: 2vmin 0 0.3161393115237454vmin currentColor; */
}
.background span:nth-child(47) {
    /* color: #ffffff; */
    top: 39%;
    left: 79%;
    animation-duration: 44s;
    animation-delay: -204s;
    transform-origin: 14vw -2vh;
    /* box-shadow: 2vmin 0 0.47328323627998414vmin currentColor; */
}
.background span:nth-child(48) {
    /* color: #ffffff; */
    top: 52%;
    left: 18%;
    animation-duration: 51s;
    animation-delay: -38s;
    transform-origin: -24vw 23vh;
    /* box-shadow: -2vmin 0 0.4518869842708071vmin currentColor; */
}
.background span:nth-child(49) {
    /* color: #ffffff; */
    top: 21%;
    left: 67%;
    animation-duration: 37s;
    animation-delay: -430s;
    transform-origin: -4vw 7vh;
    /* box-shadow: -2vmin 0 0.7974304525300031vmin currentColor; */
}
